<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <fieldset>
        <legend>录入界面</legend>
        <div>
            <label>姓名:</label><input type="text" placeholder="请输入用户名" v-model="newPerson.name"/>
        </div>
        <div>
            <label>电话:</label><input type="text" placeholder="请输入联系电话" v-model="newPerson.phone"/>
        </div>
        <button @click="addNewPerson">添加新用户</button>
    </fieldset>

    <fieldset>
        <legend>列表界面</legend>
        <table border="1">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(p, index) in persons">
                    <td>{{ p.name }}</td>
                    <td>{{ p.phone }}</td>
                    <td><button @click="deletePerson(index)">删除</button></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
<script type="text/javascript" src="../plugin/vue/vue.js"></script>
<script>
    var app = new Vue ({
        el : '#app',
        data : {
            persons : [
                {name : '张三', phone : 15868107033},
                {name : '李四', phone : 13336122739}
            ],
            newPerson : {
                name : '',
                phone : '',
            }
        },
        methods : {
            addNewPerson : function () {
                if (this.newPerson.name == '') {
                    alert('姓名不能为空!');
                    return;
                }
                if (this.newPerson.phone == '') {
                    alert('联系电话不能为空!');
                    return;
                }

                this.persons.push(this.newPerson);

                // 清空数据
                this.newPerson = {
                    name : '',
                    phone : ''
                }
            },
            deletePerson : function (index) {
                var result = confirm('是否确认删除?');
                if (result) {
                    this.persons.splice(index, 1);
                }
            }
        }
    });
</script>
</body>
</html>